@* Views/Error/PageNotFound.cshtml *@

@{
    ViewData["Title"] = "Forbidden";
}

<h1 class="display-4">403 Error</h1>
<p class="lead">You do not have access to this page.</p>
<a href="/" class="btn btn-primary">Back to Home</a>