@* Views/Error/ServerError.cshtml *@

@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="display-4">401 Error</h1>
<p class="lead">You tried to access a page without authorization. Have you tried logging in?</p>
<a href="/" class="btn btn-primary">Back to Home</a>