@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* defaults */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fefefe;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1e1a38;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.s-gap{
    gap: 10px;
}
.m-gap{
    gap: 20px;
}
.l-gap{
    gap: 30px;
}



/* button */
button{
    background-color: #00ffe0;
    color: #1e1a38;
    border: none;
    cursor: pointer;
}

/* header */

h1,
h3{
    color: #00ffe0;
    font-family: 'Audiowide', sans-serif;
    font-weight: normal;
}

span{
    color: #ff4ef0;
    font-family: 'Audiowide', sans-serif;
    font-weight: normal;
}

header{
    width: 100%;
    justify-content: center !important;
}

header > div{
    flex-direction: column;
    width: 100%;
}

    /* top header */

.top-header{
    padding: 20px;
    width: 100%;
    max-width: 64rem;
}

.search-bar{
    height: 30px;
}

.search-bar > input{
    padding: 5px 10px;
    height: 100%;
    border: none;
    border-right: 1px solid #b4a7d6;
    color: black;
}

.search-bar > button{
    height: 100%;
    border: none;
    padding: 0px 15px;
    border-left: #1e1a38;
}

#cart{
    background-image: url(images/cart.webp);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding: 20px;
    padding-left: 40px;
}

    /* bottom header */

.bottom-header{
    background-color: #00ffe0;
    border-top: #ff4ef0 5px solid;
    padding: 5px 0px;
    width: 100%;
    justify-content: center;
}

.bottom-header ul{
    list-style: none;
    width: 100%;
    max-width: 64rem;
    justify-content: flex-start;
    padding: 0px 20px;
}

ul a{
    text-decoration: none;
    color: #1e1a38;
}


/* main */

h2{
    color: #ff4ef0;
    font-family: 'Audiowide', sans-serif;
    font-weight: normal;
    align-self: start !important;
}

main{
    width: 100%;
    flex-direction: column;
}

section{
    flex-direction: column;
    width: 100%;
    max-width: 64rem;
    padding: 20px;

}

.carousel{
    width: 100%;
}

.carousel img{
    max-width: 64px;
    cursor: pointer;
}

#main-image{
    border: 5px solid #fefefe;
    border-radius: 30px;
    max-width: 100%;
    cursor: auto;
}

/* Aside / bottom content */
aside{
    max-width: 64rem;
    padding: 20px;

}

aside > div{
    flex-direction: column;
}

h3,
h4{
    align-self: flex-start;
}

.card,
.description{
    flex-direction: column;
}

.card{
    flex: 1;
    background-color: #2c2541;
    max-width: 400px;
    height: 580px;
    align-content: center;
}

.card p{
    color: #b4a7d6;
   line-height: 25px;
}

.card > section{
    padding: 15px;
    height: 100%;
}

.card img{
    max-width: 400px;
    width: 100%;
}

    /* button and price */

.card-foot{
    justify-content: space-between;
    width: 100%;
}

.card .price{
    color: #fefefe;
}

.card button{
    padding: 5px 15px;
}