@* Views/Shared/_AlertMessage.cshtml *@
<div style="border: 1px solid red; padding: 10px; margin-bottom: 10px; background-color: #ffe0e0;">
    <strong>Alert:</strong> This is an important message!
</div>