@{ 
    ViewData["Title"] = "Post1 - Page";
    Layout = "_BlogLayout"; 
}


<h2>Hot take: Dragon Ball is not that good!</h2>
<p>Whatever your opinion is, you are wrong. If you do not agree, you are nitpicky and biased. I win. Bye bye</p>
<p>(I am trying to sound like an avg twitter user for these posts)</p>  
