@{ 
    ViewData["Title"] = "Post2 - Page";
    Layout = "_BlogLayout"; 
}


<h2>Hot take: Pokemon games are not worth it!</h2>
<p>Every new pokemon game is always basically the same formula, you might as well be buying the new FIFA or COD each year!</p>
<p>(I am trying to sound like an avg twitter user for these posts)</p>  
