.entry{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 10px;
}

.entry > div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.entry > button{
    background-color: rgb(220, 53, 70);
}