@model MovieViewModel

@{
    ViewData["Title"] = "MovieDetails";
    var movie = Model;
}

<h1>Movie Details</h1>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">@movie.Title</h3>
        <p class="card-text">
            <strong>Director:</strong> @movie.Director</br>
            <strong>Genre:</strong> @movie.Genre</br>
            <strong>Description:</strong> @movie.Description
        </p>
        <p class="card-text">
            <a href="/movies">Back to List</a>
            |
            <a href="/movies/@movie.Id/edit">Edit</a>
            |
            <a href="/movies/@movie.Id/delete">Delete</a>
        </p>
    </div>
</div>