.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #004030;
    gap: 20px;
    width: 100%;
    justify-items: center;
}

header{
    background-color: #DCD0A8;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header > div{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterBtn{
    width: 100px;
    background-color: #004030;
    color: #FFF9E5
}