@{
    Layout = "_CustomLayout"; // Note: no .cshtml extension here
    ViewData["Title"] = "My Custom Page Title";
}

<h2>Hello!</h2>

<p>This is displaying from ShowCustomLayoutPage.cshtml</p>

@section HeaderContent { 
    <h3>I am the captain now</h3>
}